@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: black;
}
section{
    padding: 20px 100px;
}
.header {
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(129, 128, 128);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

html ::-webkit-scrollbar {
    width: .5rem;
}

html ::-webkit-scrollbar-thumb {
    background: rgb(152, 149, 147);
    border-radius: 5px;
}

html ::-webkit-scrollbar-track {
    background: transparent;
}

.header .logo img {
    height: 3 rem;
}

.header .icon {
    color: white;
    height: auto;
    margin: 5px;


}

#search-btn {
    margin-right: 12px;

}

#cart-btn {
    margin-right: 12px;
}

.navbar {
    text-decoration: none;
}

html a {
    text-decoration: none;
}

.header .navbar a {
    color: white;
    font-size: 1.3rem;
    margin: 0 .8rem;

}

.header .navbar a:hover {
    color: #d3ad7f;
    border-bottom: 1px solid #d3ad7f;
    padding-bottom: .3rem;



}

.home {
    min-height: 110vh;
    display: flex;
    align-items: center;
    background: url(../images/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 8rem;
}

.home .content {
    /* border: 1px solid transparent; */
    box-sizing: border-box;
    max-width: 35rem;
}

.home .content h3 {
    color: #fff;
    font-size: 3.5rem;
    max-width: 40rem;
}

.home .content p {
    color: rgba(238, 238, 238, 0.925);
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 1rem 0;
    max-width: 38rem;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background: #d3ad7f;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

.btn:hover {
    letter-spacing: .2rem;
}

.about {
    background: #010103;
}

.heading {
    text-align: center;
    color: #d3ad7f;
    padding: 50px;
    padding-top: 20px;
    font-size: 40px;

}

.heading span {
    color: white;
}

.about .row {
    display: flex;
    align-items: center;
    color: #fff;
    /* padding: 50px; */
}

.about .image img {
    width: 100%;



}

.about .image {
    flex: 1 1 45rem;
    box-shadow: -3px -3px 10px #cbb48485;

}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 33px;
}

.about .row .content p {
    color: rgba(238, 238, 238, 0.925);
    font-size: 18px;
    line-height: 1.3;
    padding: 17px 0;
    max-width: 60rem;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;

}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 25rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    border-radius: 4px ;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    color: var(--black);
    padding: .8rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 1.4rem;
    margin-right: 1.1rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 8.0rem);
    width: 25rem;
    background: #fff;
    padding: 0 1.2rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 1.2rem 0;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 5rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 1.5rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

.menu {

    background: black;
}

.price {
    color: aliceblue;
    font-size: 25px;
    padding: 0.2rem 0;

}

.box h3 {
    color: aliceblue;
    font-size: 26px;
    padding: 0.5rem 0;
}

.price span {
    font-size: 15px;
    text-decoration: line-through;
    font-weight: lighter;

}

.menu .box_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1.2rem;
    /* margin-left: 10px;
    margin-right: 10px; */

}

.menu .box_container .box {
    border: var(--border);
    text-align: center;
    padding: 2.0rem;

}

.menu .box_container .box img {
    height: 8rem;
}

.menu .box_container .box:hover {
    background: whitesmoke;

}



.menu .box_container .box:hover>* {
    color: var(--black);

}

.menu .box_container .box:hover>.btn {
    font-size: 25px;
}

.product {
    background: black;
}

.product h1 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding: 70px 50px 50px;
}

.product h1 span {
    color: #d3ad7f;

}

.product .stars i {
    color: #d3ad7f;
    font-size: 1.2rem;
}

.product .box_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1.2rem;
    margin: 12px;
}

.product .box_container .box .price{
    margin-bottom: 20px;
}
.product .box_container .box {
    border: var(--border);
    text-align: center;


}

::selection {
    background-color: gray;
    color: #fff;
}

.product .box_container .icons a {
    border: var(--border);
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: #fff;
    margin: 0.2rem;
}

.product .box_container .icons {
    justify-items: center;
    padding-top: 20px;

}

.product .box_container .icons a:hover {
    background: var(--main-color);
}

.product .box_container .image {
    padding: 2rem 0;
}

.product .box_container .image img {
    height: 15rem;
}

.review {
    background: var(--bg);
    color: #fff;


}

.review .heading {
    padding: 70px 50px 50px;
    color: #fff;
    text-align: center;
    font-size: 40px;
}
.review .heading span{
    color: #d3ad7f;
}
.review .box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.0rem;
    margin: 12px;

}
.review .box_container .box{
    border: var(--border);
   text-align: center;
   padding: 2rem 1rem;
}
.review .box_container .box p{
    font-size: 15px;
    line-height: 1.8;
    color: #ccc;
    padding: 30px 20px;

}
.review .box_container .box .user{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box_container .box .stars i {
    font-size: 1.2rem;
    color: var(--main-color);
}


.contact .container{
    display: flex;
    color: #ccc;
    justify-content: space-between;
    border: var(--border);
    /* flex-wrap: wrap; */
    gap: 0.2rem;
}
.contact .container .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;

}

.contact .container  .form h3{
    text-align: center;
    font-size: 35px;

}
 .contact .container .form{
    flex: 1 1 45rem;
    padding: 3rem 2rem;
    text-align: center;

 }
 .contact .container .form .btn{
    width: max-content;
    align-self: center;

 }

 .contact .container .form .inputbox{
    align-items: center;
    display: flex;
    margin-top: 0.7rem ;
    margin-bottom: 0.7rem;
    background: var(--black);
    box-decoration-break: var(--border);
 }
 .contact .container .form .inputbox span{
    color: #fff;
    font-size: 1rem;
    padding-left: 1.5rem;
 }
 .contact .container .form .inputbox input{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-transform: none;
    background: none;
 }

 .blog-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.2rem;
    color: #ccc;


 }
 .blogs h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding:  10px 50px 50px;

 }
 .blogs h1 span{
    color: #d3ad7f;
 }
 .blogs .blog-container .blog{
    border: var(--border);

    
    
 }
 .blogs .blog-container .blog .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 .blogs .blog-container .blog .image{
    height: 15rem;
    overflow: hidden;
    width: 100%;
 }


 .blogs .blog-container .blog-content{
padding: 15px;
 }
 .blogs .blog-container .blog .blog-content .title{
    font-size: 25px;
    color: #fff;
 }
 
 .blogs .blog-container .blog .blog-content span{
    color: var(--main-color);
    display: block;
    font-size: 20px;
    padding: 10px 0 0 ;
 }
 .blogs .blog-container .blog .blog-content  p{
    padding: 10px 0;
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
 }
 
.footer{
    text-align: center;
}
.footer .share a{
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    font-size: 25px;
    border: var(--border);
    margin: 3px;
    border-radius: 50%;
    
}
.footer .share {
    padding: 10px 0;
    
}
.footer .credit {
    color: #fff;
    font-size: 20px; 
    padding: 15px;
    font-weight: lighter;

}
.footer .links{
    text-align: center;
    font-size: 20px;
    padding: 20px 0;

}
.footer .links a{
    border: var(--border);
    color: #fff;
    padding: 7px 20px;
}
.footer .links a:hover {
    background: var(--main-color);
}
.footer .credit span{
    color: var(--main-color);
}